{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Bito 2.0 Integration API",
    "description": "API guide for developers. API Key is taken from the integration section on the Bito platform.",
    "contact": {
      "name": "Bito Support",
      "email": "bito-support@unical.uz",
      "url": "https://bito.uz/support"
    }
  },
  "servers": [
    {
      "url": "https://api.systematicdev.uz/integration-api/integration/api/v2/",
      "description": "Dev"
    },
    {
      "url": "https://api.bito.uz/integration-api/integration/api/v2/",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Product"
    },
    {
      "name": "Category"
    },
    {
      "name": "Customer"
    },
    {
      "name": "Customer-category"
    },
    {
      "name": "Currency"
    },
    {
      "name": "Price"
    },
    {
      "name": "Discount"
    },
    {
      "name": "Product-stock"
    },
    {
      "name": "Product-warehouse"
    },
    {
      "name": "Warehouse"
    },
    {
      "name": "Sale-order"
    },
    {
      "name": "Attribute"
    },
    {
      "name": "Booking-table"
    },
    {
      "name": "Box-types"
    },
    {
      "name": "Cashback-settings"
    },
    {
      "name": "Cashbox"
    },
    {
      "name": "Cashbox-session"
    },
    {
      "name": "Open-ticket"
    },
    {
      "name": "Role"
    },
    {
      "name": "Section"
    },
    {
      "name": "Position"
    },
    {
      "name": "Person"
    },
    {
      "name": "Supplier"
    },
    {
      "name": "Employee"
    },
    {
      "name": "Organization"
    },
    {
      "name": "Sale-settings"
    },
    {
      "name": "Warehouse-settings"
    },
    {
      "name": "Finance-settings"
    },
    {
      "name": "Units-of-measure"
    },
    {
      "name": "Payment-method"
    },
    {
      "name": "Payment-type"
    },
    {
      "name": "Extra-cost"
    },
    {
      "name": "Purchase"
    },
    {
      "name": "Purchase-order"
    },
    {
      "name": "Purchase-return"
    },
    {
      "name": "Income"
    },
    {
      "name": "Invoice"
    },
    {
      "name": "Production-operation"
    },
    {
      "name": "Production-route-sheet"
    },
    {
      "name": "Profile"
    },
    {
      "name": "Tax"
    },
    {
      "name": "States"
    },
    {
      "name": "Trade"
    },
    {
      "name": "Transaction"
    },
    {
      "name": "Task"
    },
    {
      "name": "Task-type"
    },
    {
      "name": "Balance"
    },
    {
      "name": "Cashback"
    },
    {
      "name": "Custom-field"
    },
    {
      "name": "Recon-act"
    },
    {
      "name": "Report"
    },
    {
      "name": "Report-sales"
    },
    {
      "name": "Report-finance"
    },
    {
      "name": "Report-production"
    },
    {
      "name": "Report-distribution"
    },
    {
      "name": "Report-dashboard"
    },
    {
      "name": "Report-pos"
    },
    {
      "name": "Report-analysis"
    },
    {
      "name": "Report-warehouse"
    },
    {
      "name": "File",
      "description": "Upload files (base64) and attach/detach them to records"
    },
    {
      "name": "Customer Bulk",
      "description": "Bulk customer create/update operations"
    },
    {
      "name": "Device",
      "description": "POS devices registered on the account"
    },
    {
      "name": "Export-records",
      "description": "Asynchronous export jobs and their status"
    },
    {
      "name": "Internal-transfer",
      "description": "Stock transfers between warehouses of one organization"
    },
    {
      "name": "Kpi-settings",
      "description": "Employee KPI configuration"
    },
    {
      "name": "Marketing-settings",
      "description": "Marketing module settings"
    },
    {
      "name": "Message-settings",
      "description": "Outbound messaging settings"
    },
    {
      "name": "Organizational-transfer",
      "description": "Stock transfers between organizations"
    },
    {
      "name": "Pipeline-action",
      "description": "Automated pipeline actions"
    },
    {
      "name": "Production-group",
      "description": "Production groupings"
    },
    {
      "name": "Production-order",
      "description": "Production orders"
    },
    {
      "name": "Production-plan",
      "description": "Production planning"
    },
    {
      "name": "Production-step",
      "description": "Production process steps"
    },
    {
      "name": "Production-task",
      "description": "Production tasks assigned to workers"
    },
    {
      "name": "Production-tech-map",
      "description": "Technological maps — the step graph that turns route sheets into a finished product"
    },
    {
      "name": "Public-lead-form",
      "description": "Public lead capture forms"
    },
    {
      "name": "Reason",
      "description": "Configurable reasons used across business flows"
    },
    {
      "name": "Reminder-settings",
      "description": "Reminder/notification settings"
    },
    {
      "name": "Revision",
      "description": "Stock revisions (inventory counts)"
    },
    {
      "name": "Sale Order Bulk",
      "description": "Bulk sale order operations"
    },
    {
      "name": "Sms-template",
      "description": "SMS message templates"
    },
    {
      "name": "Source",
      "description": "Lead/trade acquisition sources"
    },
    {
      "name": "States-settings",
      "description": "Kanban board column configuration"
    },
    {
      "name": "Tag",
      "description": "Tags attachable to business entities"
    },
    {
      "name": "Write-off",
      "description": "Stock write-offs"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/product/create": {
      "post": {
        "tags": [
          "Product"
        ],
        "description": "This method allows adding product into the account.",
        "operationId": "product-create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/paths/~1product~1update/put/responses/200/content/application~1json/schema/allOf/1/properties/data"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "default": "",
                    "x-readme-id": "0.0",
                    "minLength": 3
                  },
                  "note": {
                    "type": "string",
                    "default": "",
                    "x-readme-id": "0.0"
                  },
                  "measure_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of measure unit",
                    "x-readme-id": "0.1",
                    "example": {
                      "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                    }
                  },
                  "category_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of product categories",
                    "x-readme-id": "0.1",
                    "example": {
                      "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                    }
                  },
                  "box_type_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of Box type",
                    "x-readme-id": "0.2",
                    "example": {
                      "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                    }
                  },
                  "box_item": {
                    "type": "number",
                    "default": 0,
                    "description": "number of items that exist in one box"
                  },
                  "box_item_barcode": {
                    "type": "string",
                    "default": "",
                    "description": "id of box item's barcode"
                  },
                  "sku": {
                    "type": "string",
                    "default": "",
                    "description": "local unique id of product"
                  },
                  "barcode": {
                    "type": "string",
                    "default": "",
                    "description": "barcode of product"
                  },
                  "supplier_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "list of supplier ids"
                  },
                  "warehouse_number": {
                    "type": "string",
                    "default": "",
                    "description": "Product's location in the warehouse (aisle/shelf/bin label). Optional, free-form."
                  },
                  "image": {
                    "type": "string",
                    "default": "",
                    "description": "image path of product that uploaded to the server"
                  },
                  "is_compound": {
                    "type": "boolean",
                    "default": false,
                    "description": "is compound product or not"
                  },
                  "materials": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "material_id": {
                          "type": "string",
                          "example": {
                            "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                          }
                        },
                        "amount": {
                          "type": "number"
                        },
                        "box_count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "material_id",
                        "amount"
                      ]
                    },
                    "description": "list of materials of product. required if is_compound is true"
                  },
                  "barcodes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "is_active": {
                          "type": "boolean"
                        },
                        "barcode": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "list of barcodes of product"
                  },
                  "is_semi_product": {
                    "type": "boolean",
                    "default": false,
                    "description": "is semi product or not"
                  },
                  "is_product": {
                    "type": "boolean",
                    "default": false,
                    "description": "is product or not"
                  },
                  "is_material": {
                    "type": "boolean",
                    "default": false,
                    "description": "is material or not"
                  },
                  "is_marked": {
                    "type": "boolean",
                    "default": false,
                    "description": "is marked or not"
                  },
                  "dimension": {
                    "type": "object",
                    "properties": {
                      "shape": {
                        "type": "string",
                        "enum": [
                          "circular",
                          "rectangular",
                          "other"
                        ]
                      },
                      "netto_weight": {
                        "type": "number"
                      },
                      "gross_weight": {
                        "type": "number"
                      },
                      "height": {
                        "type": "number"
                      },
                      "volume": {
                        "type": "number"
                      },
                      "diameter": {
                        "type": "number"
                      },
                      "width": {
                        "type": "number"
                      },
                      "length": {
                        "type": "number"
                      }
                    },
                    "description": "dimension of product"
                  },
                  "is_variant": {
                    "type": "boolean",
                    "default": false,
                    "description": "is variant or not"
                  },
                  "variants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sku": {
                          "type": "string"
                        },
                        "barcode": {
                          "type": "string"
                        },
                        "image": {
                          "type": "boolean"
                        },
                        "organizations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "organization_id": {
                                "type": "string",
                                "example": {
                                  "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                }
                              },
                              "is_available": {
                                "type": "boolean"
                              },
                              "max_stock": {
                                "type": "number"
                              },
                              "yellow_line": {
                                "type": "number"
                              },
                              "red_line": {
                                "type": "number"
                              },
                              "standard": {
                                "type": "number"
                              },
                              "is_available_for_sale": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "organization_id",
                              "is_available"
                            ]
                          }
                        },
                        "attributes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "attribute_id": {
                                "type": "string",
                                "example": {
                                  "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                }
                              },
                              "attribute_item_id": {
                                "type": "string",
                                "example": {
                                  "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                }
                              }
                            },
                            "required": [
                              "attribute_id",
                              "attribute_item_id"
                            ]
                          }
                        }
                      },
                      "required": [
                        "sku",
                        "organizations",
                        "attributes"
                      ]
                    }
                  },
                  "organizations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "organization_id": {
                          "type": "string",
                          "example": {
                            "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                          }
                        },
                        "is_available": {
                          "type": "boolean"
                        },
                        "max_stock": {
                          "type": "number"
                        },
                        "yellow_line": {
                          "type": "number"
                        },
                        "red_line": {
                          "type": "number"
                        },
                        "standard": {
                          "type": "number"
                        },
                        "is_available_for_sale": {
                          "type": "boolean"
                        },
                        "prices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "price_id": {
                                "type": "string",
                                "example": {
                                  "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                }
                              },
                              "amount": {
                                "type": "number"
                              },
                              "uom_prices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "measure_id": {
                                      "type": "string",
                                      "example": {
                                        "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                      }
                                    },
                                    "amount": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "measure_id",
                                    "amount"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "price_id"
                            ]
                          },
                          "description": "list of prices with optional UOM prices"
                        }
                      },
                      "required": [
                        "organization_id",
                        "is_available"
                      ]
                    }
                  }
                },
                "type": "object",
                "required": [
                  "name",
                  "sku",
                  "measure_id",
                  "organizations",
                  "is_product",
                  "is_semi_product",
                  "is_material",
                  "is_marked"
                ]
              }
            }
          }
        }
      }
    },
    "/product/update": {
      "put": {
        "tags": [
          "Product"
        ],
        "description": "This method allows updating product in the account.",
        "operationId": "product-update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "properties": {
                            "_id": {
                              "type": "string",
                              "description": "id of product",
                              "example": {
                                "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "example": {
                                "$ref": "#/paths/~1task~1update/put/requestBody/content/application~1json/schema/properties/date/example"
                              }
                            },
                            "updated_at": {
                              "type": "string",
                              "example": {
                                "$ref": "#/paths/~1task~1update/put/requestBody/content/application~1json/schema/properties/date/example"
                              }
                            },
                            "name": {
                              "type": "string"
                            },
                            "number": {
                              "type": "string"
                            },
                            "note": {
                              "type": "string"
                            },
                            "box_item": {
                              "type": "number"
                            },
                            "box_item_barcode": {
                              "type": "string"
                            },
                            "box_type_id": {
                              "type": "string",
                              "example": {
                                "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                              }
                            },
                            "box_type": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string",
                                  "example": {
                                    "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                  }
                                },
                                "code": {
                                  "type": "string"
                                },
                                "short_name": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "_id",
                                "name"
                              ]
                            },
                            "measure": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string",
                                  "example": {
                                    "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                  }
                                },
                                "system_code": {
                                  "type": "string"
                                },
                                "code": {
                                  "type": "string"
                                },
                                "short_name": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "decimal_count": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "_id",
                                "name",
                                "decimal_count"
                              ]
                            },
                            "sku": {
                              "type": "string"
                            },
                            "barcode": {
                              "type": "string"
                            },
                            "barcodes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "is_active": {
                                    "type": "boolean"
                                  },
                                  "barcode": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "is_active",
                                  "barcode"
                                ]
                              },
                              "description": "list of barcodes of product"
                            },
                            "supplier_ids": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "list of supplier ids"
                            },
                            "warehouse_number": {
                              "type": "string",
                              "description": "Product's location in the warehouse (aisle/shelf/bin label). Absent when not set."
                            },
                            "image": {
                              "type": "string",
                              "description": "image path of product that uploaded to the server"
                            },
                            "materials": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "material_id": {
                                    "type": "string",
                                    "example": {
                                      "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                    }
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "box_count": {
                                    "type": "integer"
                                  },
                                  "material": {
                                    "type": "object",
                                    "properties": {
                                      "_id": {
                                        "type": "string",
                                        "example": {
                                          "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                        }
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "sku": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "_id",
                                      "name",
                                      "sku"
                                    ]
                                  }
                                },
                                "required": [
                                  "material_id",
                                  "amount",
                                  "material"
                                ]
                              },
                              "description": "list of materials of product. required if is_compound is true"
                            },
                            "is_compound": {
                              "type": "boolean",
                              "description": "is compound product or not"
                            },
                            "is_marked": {
                              "type": "boolean",
                              "description": "is marked or not"
                            },
                            "is_product": {
                              "type": "boolean",
                              "default": false,
                              "description": "is product or not"
                            },
                            "is_material": {
                              "type": "boolean",
                              "default": false,
                              "description": "is material or not"
                            },
                            "is_semi_product": {
                              "type": "boolean",
                              "default": false,
                              "description": "is semi product or not"
                            },
                            "dimension": {
                              "type": "object",
                              "properties": {
                                "shape": {
                                  "type": "string",
                                  "enum": [
                                    "circular",
                                    "rectangular",
                                    "other"
                                  ]
                                },
                                "netto_weight": {
                                  "type": "number"
                                },
                                "gross_weight": {
                                  "type": "number"
                                },
                                "height": {
                                  "type": "number"
                                },
                                "volume": {
                                  "type": "number"
                                },
                                "diameter": {
                                  "type": "number"
                                },
                                "width": {
                                  "type": "number"
                                },
                                "length": {
                                  "type": "number"
                                }
                              },
                              "description": "dimension of product"
                            },
                            "is_variant": {
                              "type": "boolean",
                              "description": "is variant or not"
                            },
                            "is_parent": {
                              "type": "boolean",
                              "description": "is parent or not"
                            },
                            "attributes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "attribute_id": {
                                    "type": "string"
                                  },
                                  "attribute_item_id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "attribute_id",
                                  "attribute_item_id"
                                ]
                              }
                            },
                            "parent_id": {
                              "type": "string",
                              "description": "id of parent product. it depends on variant product",
                              "example": {
                                "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                              }
                            },
                            "organizations": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "organization_id": {
                                    "type": "string",
                                    "example": {
                                      "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                    }
                                  },
                                  "is_available": {
                                    "type": "boolean"
                                  },
                                  "max_stock": {
                                    "type": "number"
                                  },
                                  "yellow_line": {
                                    "type": "number"
                                  },
                                  "red_line": {
                                    "type": "number"
                                  },
                                  "standard": {
                                    "type": "number"
                                  },
                                  "is_available_for_sale": {
                                    "type": "boolean"
                                  },
                                  "prices": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "price_id": {
                                          "type": "string",
                                          "example": {
                                            "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                          }
                                        },
                                        "amount": {
                                          "type": "number"
                                        },
                                        "uom_prices": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "measure_id": {
                                                "type": "string",
                                                "example": {
                                                  "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                                }
                                              },
                                              "amount": {
                                                "type": "number"
                                              }
                                            },
                                            "required": [
                                              "measure_id",
                                              "amount"
                                            ]
                                          }
                                        }
                                      },
                                      "required": [
                                        "price_id"
                                      ]
                                    },
                                    "description": "list of prices with optional UOM prices"
                                  }
                                },
                                "required": [
                                  "organization_id",
                                  "is_available",
                                  "is_available_for_sale"
                                ]
                              }
                            },
                            "tax_ids": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "list of tax ids"
                            },
                            "discount_ids": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "list of discount ids"
                            },
                            "category": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string",
                                  "example": {
                                    "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                  }
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "_id",
                                "name"
                              ]
                            },
                            "custom_fields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string",
                                    "example": {
                                      "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                    }
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "_id",
                                  "value"
                                ]
                              }
                            }
                          },
                          "type": "object",
                          "required": [
                            "name",
                            "created_at",
                            "updated_at",
                            "number",
                            "sku",
                            "measure",
                            "is_product",
                            "is_material",
                            "is_semi_product",
                            "is_marked",
                            "is_compound"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of product"
                  },
                  "name": {
                    "type": "string",
                    "default": "",
                    "x-readme-id": "0.0"
                  },
                  "measure_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of measure unit",
                    "x-readme-id": "0.1"
                  },
                  "category_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of product categories",
                    "x-readme-id": "0.1"
                  },
                  "box_type_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of Box type",
                    "x-readme-id": "0.2"
                  },
                  "box_item": {
                    "type": "number",
                    "default": 0,
                    "description": "number of items that exist in one box"
                  },
                  "box_item_barcode": {
                    "type": "string",
                    "default": "",
                    "description": "id of box item's barcode"
                  },
                  "sku": {
                    "type": "string",
                    "default": "",
                    "description": "local unique id of product"
                  },
                  "barcode": {
                    "type": "string",
                    "default": "",
                    "description": "barcode of product"
                  },
                  "supplier_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "list of supplier ids"
                  },
                  "warehouse_number": {
                    "type": "string",
                    "default": "",
                    "description": "Product's location in the warehouse (aisle/shelf/bin label). Optional, free-form."
                  },
                  "image": {
                    "type": "string",
                    "default": "",
                    "description": "image path of product that uploaded to the server"
                  },
                  "materials": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "material_id": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        },
                        "box_count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "material_id",
                        "amount"
                      ]
                    },
                    "description": "list of materials of product. required if is_compound is true"
                  },
                  "barcodes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "is_active": {
                          "type": "boolean"
                        },
                        "barcode": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "list of barcodes of product"
                  },
                  "is_semi_product": {
                    "type": "boolean",
                    "default": false,
                    "description": "is semi product or not"
                  },
                  "is_product": {
                    "type": "boolean",
                    "default": false,
                    "description": "is product or not"
                  },
                  "is_material": {
                    "type": "boolean",
                    "default": false,
                    "description": "is material or not"
                  },
                  "dimension": {
                    "type": "object",
                    "properties": {
                      "shape": {
                        "type": "string",
                        "enum": [
                          "circular",
                          "rectangular",
                          "other"
                        ]
                      },
                      "netto_weight": {
                        "type": "number"
                      },
                      "gross_weight": {
                        "type": "number"
                      },
                      "height": {
                        "type": "number"
                      },
                      "volume": {
                        "type": "number"
                      },
                      "diameter": {
                        "type": "number"
                      },
                      "width": {
                        "type": "number"
                      },
                      "length": {
                        "type": "number"
                      }
                    },
                    "description": "dimension of product"
                  },
                  "variants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "sku": {
                          "type": "string"
                        },
                        "barcode": {
                          "type": "string"
                        },
                        "image": {
                          "type": "boolean"
                        },
                        "organizations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "organization_id": {
                                "type": "string"
                              },
                              "is_available": {
                                "type": "boolean"
                              },
                              "max_stock": {
                                "type": "number"
                              },
                              "yellow_line": {
                                "type": "number"
                              },
                              "red_line": {
                                "type": "number"
                              },
                              "standard": {
                                "type": "number"
                              },
                              "is_available_for_sale": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "organization_id",
                              "is_available"
                            ]
                          }
                        },
                        "attributes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "attribute_id": {
                                "type": "string"
                              },
                              "attribute_item_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "attribute_id",
                              "attribute_item_id"
                            ]
                          }
                        }
                      },
                      "required": [
                        "_id",
                        "sku",
                        "organizations",
                        "attributes"
                      ]
                    },
                    "description": " list of variants of product. required if is_variant is true"
                  },
                  "organizations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "organization_id": {
                          "type": "string"
                        },
                        "is_available": {
                          "type": "boolean"
                        },
                        "max_stock": {
                          "type": "number"
                        },
                        "yellow_line": {
                          "type": "number"
                        },
                        "red_line": {
                          "type": "number"
                        },
                        "standard": {
                          "type": "number"
                        },
                        "is_available_for_sale": {
                          "type": "boolean"
                        },
                        "prices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "price_id": {
                                "type": "string",
                                "example": {
                                  "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                }
                              },
                              "amount": {
                                "type": "number"
                              },
                              "uom_prices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "measure_id": {
                                      "type": "string",
                                      "example": {
                                        "$ref": "#/paths/~1task~1move/put/requestBody/content/application~1json/schema/properties/_id/example"
                                      }
                                    },
                                    "amount": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "measure_id",
                                    "amount"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "price_id"
                            ]
                          },
                          "description": "list of prices with optional UOM prices"
                        }
                      },
                      "required": [
                        "organization_id",
                        "is_available"
                      ]
                    }
                  }
                },
                "type": "object",
                "required": [
                  "name",
                  "sku",
                  "measure_id",
                  "organizations",
                  "is_semi_product",
                  "is_product",
                  "is_material",
                  "is_marked",
                  "is_variant",
                  "box_item"
                ]
              }
            }
          }
        }
      }
    },
    "/product/delete/{id}": {
      "delete": {
        "tags": [
          "Product"
        ],
        "description": "Delete a product",
        "operationId": "product-delete",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "default": "ok"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/product/get-by-id/{id}": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Get product using its _id",
        "operationId": "product-get-by-id",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/paths/~1product~1update/put/responses/200/content/application~1json/schema/allOf/1/properties/data"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/product/get-paging": {
      "post": {
        "tags": [
          "Product"
        ],
        "description": "Get products by paging",
        "operationId": "product-get-paging",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1production-step~1get-paging/post/requestBody/content/application~1json/schema"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "organization_id": {
                        "type": "string"
                      },
                      "is_main": {
                        "type": "boolean"
                      },
                      "category_id": {
                        "type": "string"
                      },
                      "is_archived": {
                        "type": "boolean"
                      },
                      "is_compound": {
                        "type": "boolean"
                      },
                      "is_semi_product": {
                        "type": "boolean"
                      },
                      "is_product": {
                        "type": "boolean"
                      },
                      "is_material": {
                        "type": "boolean"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "ISO time format"
                      },
                      "is_available_for_sale": {
                        "type": "boolean"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number"
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1product~1update/put/responses/200/content/application~1json/schema/allOf/1/properties/data"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/product/get-deleted": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Get deleted product ids",
        "operationId": "product-get-deleted",
        "parameters": [
          {
            "name": "deleted_at",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1tax~1get-deleted/get/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/category/create": {
      "post": {
        "tags": [
          "Category"
        ],
        "description": "This method allows adding category into the account.",
        "operationId": "category-create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1category~1update/put/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "default": "",
                    "x-readme-id": "0.0",
                    "minLength": 3
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "product",
                      "material",
                      "semi_product"
                    ],
                    "default": "",
                    "description": "type categories"
                  },
                  "parent_id": {
                    "type": "string",
                    "default": "",
                    "description": "id of parent category"
                  },
                  "is_available_for_sale": {
                    "type": "boolean",
                    "default": true,
                    "description": "is available for sale"
                  },
                  "organization_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "ids of organization"
                  },
                  "image": {
                    "type": "string",
                    "default": "",
                    "description": "image path of category that uploaded to the server"
                  }
                },
                "type": "object",
                "required": [
                  "name",
                  "is_available_for_sale",
                  "organization_ids"
                ]
              }
            }
          }
        }
      }
    },
    "/category/update": {
      "put": {
        "tags": [
          "Category"
        ],
        "description": "This method allows updating category in the account.",
        "operationId": "category-update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "id of category"
                    },
                    "name": {
                      "type": "string"
                    },
                    "is_main_material": {
                      "type": "boolean"
                    },
                    "is_available_for_sale": {
                      "type": "boolean"
                    },
                    "type": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": "string",
                      "description": "id of parent category"
                    },
                    "organization_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "ids of organizations"
                    },
                    "child_cound": {
                      "type": "number"
                    },
                    "item_count": {
                      "type": "number",
                      "description": "count off all child"
                    },
                    "count": {
                      "type": "number"
                    },
                    "image": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "required": [
                    "_id",
                    "name",
                    "count",
                    "child_cound",
                    "item_count",
                    "parent_id",
                    "is_main_material",
                    "is_available_for_sale",
                    "type",
                    "organization_ids",
                    "updated_at",
                    "created_at"
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1category~1create/post/requestBody/content/application~1json/schema"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "default": "",
                        "description": "id of category"
                      }
                    },
                    "required": [
                      "_id"
                    ]
                  }
                ],
                "type": "object",
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/category/delete/{id}": {
      "delete": {
        "tags": [
          "Category"
        ],
        "description": "Delete a category",
        "operationId": "category-delete",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "default": "ok"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/category/get-by-id/{id}": {
      "get": {
        "tags": [
          "Category"
        ],
        "description": "Get category using its _id",
        "operationId": "category-get-by-id",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1category~1update/put/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/category/get-paging": {
      "post": {
        "tags": [
          "Category"
        ],
        "description": "Get categories by paging",
        "operationId": "category-get-paging",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1production-step~1get-paging/post/requestBody/content/application~1json/schema"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "search": {
                        "type": "string"
                      },
                      "top": {
                        "type": "boolean"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-01T12:00:00Z"
                      },
                      "organization_id": {
                        "type": "string",
                        "example": "64b7f4d9e2b3b6a0b7c5d800"
                      },
                      "parent_id": {
                        "type": "string",
                        "example": "63f8b0c4e4b0d3a2f8e4b0c4"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number"
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1category~1update/put/responses/200/content/application~1json/schema"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/category/get-deleted": {
      "get": {
        "tags": [
          "Category"
        ],
        "description": "Get deleted category ids",
        "operationId": "category-get-deleted",
        "parameters": [
          {
            "name": "deleted_at",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1tax~1get-deleted/get/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/customer/create": {
      "post": {
        "tags": [
          "Customer"
        ],
        "description": "This method allows adding customer into the account.",
        "operationId": "customer-create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1customer~1update/put/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "default": "",
                    "x-readme-id": "0.0",
                    "minLength": 1
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "legal",
                      "natural"
                    ],
                    "default": "",
                    "description": "type customer"
                  },
                  "category_id": {
                    "type": "string",
                    "default": ""
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "new",
                      "warning",
                      "black_list",
                      "active"
                    ],
                    "default": ""
                  },
                  "inn": {
                    "type": "string",
                    "default": ""
                  },
                  "director_name": {
                    "type": "string",
                    "default": ""
                  },
                  "address": {
                    "type": "string",
                    "default": ""
                  },
                  "delivery_address": {
                    "type": "object",
                    "properties": {
                      "long": {
                        "type": "number",
                        "default": ""
                      },
                      "lat": {
                        "type": "number",
                        "default": ""
                      },
                      "human_address": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "default": "string"
                          },
                          "city": {
                            "type": "string",
                            "default": "string"
                          },
                          "state": {
                            "type": "string",
                            "default": "string"
                          },
                          "zip": {
                            "type": "string",
                            "default": "string"
                          }
                        }
                      }
                    }
                  },
                  "bank_name": {
                    "type": "string",
                    "default": ""
                  },
                  "agent_id": {
                    "type": "string",
                    "default": ""
                  },
                  "responsible_id": {
                    "type": "string",
                    "default": ""
                  },
                  "account_number": {
                    "type": "string",
                    "default": ""
                  },
                  "mfo": {
                    "type": "string",
                    "default": ""
                  },
                  "loyalty_card_id": {
                    "type": "string",
                    "default": ""
                  },
                  "qqs_number": {
                    "type": "string",
                    "default": ""
                  },
                  "phone_number": {
                    "type": "string",
                    "default": ""
                  },
                  "phone_numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "company_phone_number": {
                    "type": "string",
                    "default": ""
                  },
                  "description": {
                    "type": "string",
                    "default": "",
                    "minLength": 512
                  },
                  "organization_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minLength": 1
                  },
                  "debt_limits": {
                    "type": "object",
                    "properties": {
                      "organization_id": {
                        "type": "string",
                        "default": ""
                      },
                      "limit": {
                        "type": "number",
                        "default": ""
                      },
                      "customer_id": {
                        "type": "string"
                      }
                    }
                  },
                  "organization_id": {
                    "type": "string",
                    "default": ""
                  },
                  "person_id": {
                    "type": "string",
                    "default": ""
                  },
                  "oked": {
                    "type": "string",
                    "default": ""
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "male",
                      "female"
                    ],
                    "default": ""
                  },
                  "image": {
                    "type": "string",
                    "default": ""
                  },
                  "last_name": {
                    "type": "string",
                    "default": ""
                  },
                  "middle_name": {
                    "type": "string",
                    "default": ""
                  },
                  "birth_date": {
                    "type": "string",
                    "default": ""
                  },
                  "legal_person_id": {
                    "type": "string",
                    "default": ""
                  },
                  "telegram_link": {
                    "type": "string",
                    "default": ""
                  },
                  "is_supplier": {
                    "type": "boolean",
                    "default": false
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ],
                    "default": ""
                  },
                  "short_name": {
                    "type": "string",
                    "default": ""
                  },
                  "web_site": {
                    "type": "string",
                    "default": ""
                  },
                  "code": {
                    "type": "string",
                    "default": ""
                  },
                  "postal_code": {
                    "type": "string",
                    "default": ""
                  },
                  "owner_id": {
                    "type": "string",
                    "default": ""
                  },
                  "manager_id": {
                    "type": "string",
                    "default": ""
                  },
                  "custom_fields": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string"
                      },
                      "value": {}
                    }
                  }
                },
                "type": "object",
                "required": [
                  "name",
                  "organization_ids"
                ]
              }
            }
          }
        }
      }
    },
    "/customer/update": {
      "put": {
        "tags": [
          "Customer"
        ],
        "description": "This method allows updating customer in the account.",
        "operationId": "customer-update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "id of customer"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "inn": {
                      "type": "string"
                    },
                    "director_name": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "bank_name": {
                      "type": "string"
                    },
                    "account_number": {
                      "type": "string"
                    },
                    "pinfl": {
                      "type": "string"
                    },
                    "director_pinfl": {
                      "type": "string"
                    },
                    "mfo": {
                      "type": "string"
                    },
                    "oked": {
                      "type": "string"
                    },
                    "qqs_number": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_numbers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "company_phone_number": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "organization_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "last_sale_at": {
                      "type": "string"
                    },
                    "first_sale_at": {
                      "type": "string"
                    },
                    "total_sale": {
                      "type": "number"
                    },
                    "avg_sale": {
                      "type": "number"
                    },
                    "point": {
                      "type": "number"
                    },
                    "balance": {
                      "type": "number"
                    },
                    "balance_currency_id": {
                      "type": "string"
                    },
                    "balances": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "number"
                        },
                        "balance_currency_id": {
                          "type": "string"
                        }
                      }
                    },
                    "balance_list": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "type": "object",
                  "required": [
                    "_id",
                    "name",
                    "type",
                    "updated_at",
                    "created_at",
                    "organization_ids"
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1customer~1create/post/requestBody/content/application~1json/schema"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "default": "",
                        "description": "id of customer"
                      }
                    },
                    "required": [
                      "_id"
                    ]
                  }
                ],
                "type": "object",
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/customer/delete/{id}": {
      "delete": {
        "tags": [
          "Customer"
        ],
        "description": "Delete a customer",
        "operationId": "customer-delete",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "default": "ok"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/customer/get-by-id/{id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "description": "Get customer using its _id",
        "operationId": "customer-get-by-id",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1customer~1update/put/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/customer/get-paging": {
      "post": {
        "tags": [
          "Customer"
        ],
        "description": "Get customers by paging",
        "operationId": "customer-get-paging",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1production-step~1get-paging/post/requestBody/content/application~1json/schema"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "updated_at": {
                        "type": "string"
                      },
                      "organization_id": {
                        "type": "string"
                      },
                      "search": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "number"
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/paths/~1customer~1update/put/responses/200/content/application~1json/schema"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/customer/get-deleted": {
      "get": {
        "tags": [
          "Customer"
        ],
        "description": "Get deleted customer ids",
        "operationId": "customer-get-deleted",
        "parameters": [
          {
            "name": "deleted_at",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1tax~1get-deleted/get/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/customer/set-state": {
      "put": {
        "tags": [
          "Customer"
        ],
        "description": "setState customer",
        "operationId": "customer-set-state",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "_id": {
                    "type": "string",
                    "example": "64b7f4d9e2b3b6a0b7c5d80a"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "black_list",
                      "new",
                      "active",
                      "warning"
                    ],
                    "example": "new"
                  }
                },
                "type": "object",
                "required": [
                  "state",
                  "_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1customer~1update/put/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/currency/get-all": {
      "get": {
        "tags": [
          "Currency"
        ],
        "parameters": [],
        "description": "Get all currencies",
        "operationId": "currency-get-all",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1currency~1get-main/get/responses/200/content/application~1json/schema/allOf/1/properties/data"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/price/get-all": {
      "get": {
        "tags": [
          "Price"
        ],
        "parameters": [
          {
            "name": "status",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sale",
                "income"
              ]
            }
          },
          {
            "name": "currency_id",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "example": "currency_id"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Get all prices",
        "operationId": "price-get-all",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1price~1get-by-id~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/data"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/price/items/get-paging": {
      "post": {
        "tags": [
          "Price"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1production-step~1get-paging/post/requestBody/content/application~1json/schema"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "organization_id": {
                        "type": "string"
                      },
                      "price_id": {
                        "type": "string"
                      },
                      "product_id": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "description": "Price items",
        "operationId": "price-items",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1sale-order~1create/post/responses/default/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1price~1get-by-id~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/data"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/discount/create": {
      "post": {
        "tags": [
          "Discount"
        ],
        "description": "This method allows adding discount into the account.",
        "operationId": "discount-create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1discount~1update/put/responses/200/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minLength": 1
                  },
                  "auto_attach": {
                    "type": "boolean"
                  },
                  "is_manual": {
                    "type": "boolean"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "not_started",
                      "active",
                      "expired"
                    ]
                  },
                  "live_type": {
                    "type": "string",
                    "enum": [
                      "forever",
                      "duration"
                    ]
[...]
